@import "~trestle/frontend/css/support";

.searchbox {
  width: 100%;
  max-width: 30em;
  margin-right: auto;

  .input-group {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50rem;
  }

  .input-group-text {
    background: transparent;
    border: 0;
  }

  .form-control {
    padding-left: 0;

    background: transparent;
    box-shadow: none;

    border: 0;

    &::-webkit-search-cancel-button {
      display: none;
    }
  }

  .btn-clear-search {
    --bs-btn-padding-y: 0;
    --bs-btn-font-size: 1.325rem;
    --bs-btn-color: #555;
    --bs-btn-hover-color: #333;

    @include media-breakpoint-up(sm) {
      --bs-btn-font-size: 1.25rem;
    }
  }
}
