.search-container {
  width: 100%;
  max-width: 30em;

  display: flex;
}

.searchbox {
  flex: 1;

  .input-group {
    background: white;
    border: 1px solid #ccc;
    border-radius: 50rem;
  }

  .input-group-text {
    background: transparent;
    border: 0;
  }

  .clear-search {
    position: absolute;
    right: 0.75rem;
    z-index: 5;
    color: #555;
    font-size: 1.2rem;
    padding: 0.35rem;

    &:hover, &:focus {
      color: #333;
    }
  }
}

.search-field {
  padding-left: 0;

  background: transparent;
  box-shadow: none;

  border: 0;

  &:focus {
    background: none;
    box-shadow: none;
  }

  &::-webkit-search-cancel-button {
    display: none;
  }
}
